<div>

  <% @feeds.each do |feed| %>
    <h1><%= feed.name %>  <%= feed.email %></h1>
    <div>
      <p><%= feed.content %></p>
      <p><%= feed.created %></p>
      <p><%= feed.modified %></p>
    </div>
  <% end %>

</div>

